.header {
    position: relative;
    top: 0px;
    height: 10rem;
    width: 100%;
    line-height: 35px;
    padding-right: 40px;
    margin-bottom: 20px;
    background-color: #035c3b;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    
    box-shadow: 0 0 20px rgb(31, 31, 31);
}

.navButtons {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    float: right;
    margin:1rem
}

.logout{
    width:10%
}

